@using ClearCareer.Core.ViewModels
@model CreateOfferViewModel

@{
    ViewData["Title"] = "Create Offer";
}

<section id="create">
    <div class="form">
        <h2>Create Offer</h2>
        <form class="create-form" enctype="multipart/form-data" action="/Offer/Create" onsubmit="return onCreate(event)" method="post">
            <input asp-for="@Model.Title" type="text" id="create-title" placeholder="Title" />
            <label style="float: left">Click to attach image</label>
            <input asp-for="@Model.Image" type="file" id="create-logo" accept="image/*" />
            <input asp-for="@Model.Categories" type="text" id="create-category" placeholder="Category" />
            <textarea asp-for="@Model.Description" id="create-description" placeholder="Description" rows="4" cols="50"></textarea>
            <textarea asp-for="@Model.Requirements" id="create-requirements" placeholder="Requirements" rows="4"
                      cols="50"></textarea>
            <input asp-for="@Model.Salary" type="text" id="create-salary" placeholder="Salary" />

            <button type="submit">post</button>
        </form>
    </div>
</section>

@section Scripts{
    <script src="/js/create-offer-validation.js"></script>
}